## measure of dispersion

In [1]:
# variance
import numpy as np
ages_lst = [23,43,23,56,74,32,68,98,45,32]

In [2]:
mean = np.mean(ages_lst)

In [3]:
mean

49.4

In [4]:
var = np.var(ages_lst)
var

541.64

In [5]:
std = np.std(ages_lst)
std

23.273160507331188

In [6]:
import pandas as pd

In [7]:
data = [[10,12,13],[34,23,45],[32,34,21]]
data

[[10, 12, 13], [34, 23, 45], [32, 34, 21]]

In [11]:
df = pd.DataFrame(data , columns=["A","B","C"])

In [12]:
df

    A   B   C
0  10  12  13
1  34  23  45
2  32  34  21

In [13]:
df.var()

A    177.333333
B    121.000000
C    277.333333
dtype: float64

In [14]:
# column wise variance operation
df.var(axis=0)

A    177.333333
B    121.000000
C    277.333333
dtype: float64

In [15]:
# row wise variance operation
df.var(axis=1)

0      2.333333
1    121.000000
2     49.000000
dtype: float64